HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Credentials ###
.env
*.env

### entorno virtual ###

# 🔹 Ignorar el entorno virtual
venv/
EntornoPython/

# 🔹 Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 🔹 Ignorar archivos de configuración del entorno
.env
*.env

# 🔹 Ignorar archivos de logs y depuración
*.log
logs/

# 🔹 Ignorar archivos de dependencias generadas
pip-log.txt
pip-delete-this-directory.txt

# 🔹 Ignorar archivos de compilación
build/
dist/
*.egg-info/

# 🔹 Ignorar configuraciones de IDEs (VS Code, PyCharm, etc.)
.vscode/
.idea/
*.iml

# 🔹 Ignorar archivos de bases de datos temporales
*.sqlite3
*.db
